@import "../../styles/colors.scss";
.cart {
  padding: 30px 0;
  width: 100%;
  min-height: 90vh;
  > div:last-of-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;

    > main {
      background-color: white;
      max-width: 100%;
      margin: auto;
      padding: 2rem;
      // border: 1px solid green;
      > article {
        padding: 2rem;
        color: $reddish;
        font-weight: 500;

        > div {
          display: flex;
          justify-content: space-between;
          margin: 1rem 0;
        }

        > a {
          background-color: $reddish;
          color: #fff;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          text-align: center;
          margin-top: 2rem;
          float: right;
        }
      }
    }
  }
}

.cartItem {
  background-color: rgba(250, 35, 46, 0.885);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  width: 94%;

  > div:first-of-type {
    display: flex;
    align-items: center;
    color: #fff;
    width: 70%;
    > h4 {
      width: 120px;
      font-weight: 200;
      letter-spacing: 2px;
    }

    > img {
      height: 50px;
    }
  }
  > div:last-of-type {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 3px;
    > button {
      background-color: $reddish;
      border: none;
      color: #fff;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      font-size: 25px;
    }

    > input {
      text-align: center;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border: none;
      margin: 0.25rem;
      outline: none;
      border-radius: 100%;
      color: $reddish;
      font-weight: 500;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .cart > main > article > a {
    float: none;
    display: block;
    width: 100%;
  }

  .cartDiv {
    padding: 0;

    > main {
      margin: 0;
      padding: 2rem 0;
      width: 100%;
    }
  }

  .cartItem {
    width: 85%;
    margin: 20px auto;
    > div:first-of-type {
      // border: 1px solid blueviolet;
      width: 180px;
    }
  }
}
@media (min-width: 600px) and (max-width: 1300px) {
  .cart {
    > div {
      > main {
        width: 80%;

        > article {
          width: 350px;
          font-size: 18px;
          margin: auto;
        }
      }
    }
  }
  .cartItem {
    width: 350px;
    height: 10vh;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    > div {
      height: 100%;
      gap: 8px;
      > h4 {
        width: 70%;
        font-size: 16px;
      }
      > img {
        width: 70px;
      }
    }
  }
}
