.loaderSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.loaderElement {
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(245, 47, 70, 0.622);
  background-color: #000000dd;
  border-radius: 100%;
  animation-name: animateloader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes animateloader {
  to {
    transform: scale(1.2);
  }
}

@media (max-width:600px ) {
  .loaderSection {
    height: 90vh;
  }
}