@import "../../styles/colors.scss";

.menuItemsGroup {
  width: 80%;
  margin: auto;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.h3-extra {
  color: $reddish;
  font-weight: 400;
  text-align: center;
}
.span-extra {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .menuItemsGroup {
    flex-direction: column;
    align-items: center;
  }
  .h3-extra {
    width: 100%;
    color: $reddish;
    text-align: center;
  }
  .span-extra {
    font-size: 14px;
    font-weight: 400;
  }
}
