$lightblue:rgb(142, 142, 216);
$blue:rgb(51, 51, 252);
$green:rgba(45, 205, 133, 0.925);
$lightgreen:rgba(66, 144, 101, 0.885);
$red: rgb(156, 0, 60);
$reddark: rgb(126, 0, 48);
$dark: rgb(33, 33, 33);
$lightdark: rgba(33, 33, 33, 0.711);
$pink: rgb(255, 239, 239);