@import "../../styles/colors.scss";

.myOrders {
  width: 100%;
  min-height: 100vh;
  > div {
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    > main {
      max-width: 900px;
      background-color: white;
      margin: auto;
      overflow-x: auto;
      > table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;

        tr {
          background-color: whitesmoke;

          &:last-child {
            td:first-child {
              border-radius: 0 0 0 10px;
            }
            td:last-child {
              border-radius: 0 0 10px 0;
            }
          }
        }

        td,
        th {
          padding: 1rem;
        }

        th {
          background-color: $reddish;
          color: white;
          &:first-child {
            border-radius: 10px 0 0 0;
          }
          &:last-child {
            border-radius: 0 10px 0 0;
          }
        }

        td {
          color: $lightdark;

          > img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
          }

          > button {
            border: none;
            cursor: pointer;
            margin: 0.25rem;
            color: $red;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .myOrderContainer {
    width: 100%;

    > main {
      padding: 0;
      margin: 0;
      overflow-x: auto;

      > table {
        > thead  {
          > tr > th {
            font-size: 0.3rem;
          }
        }
      }
    }
  }
}
@media (min-width: 700px) and (max-width: 1300px) {
  .myOrders {
    > div {
      min-height: 90vh;
      > main {
        height: 100%;
        > table {
          > thead {
            > tr > th {
              font-size: 1.2rem;
            }
          }
          > tbody {

            > tr > td {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
