@import "../../styles/colors.scss";

.about {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  
}

.first {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;

  > h3 {
    
    font-size: 2.3rem;
    font-weight: 600;
    color: $reddish;
    text-align: center;
  }
  > div {
    width: 90px;
    border-top:5px solid $fontblack ;
    border-radius:50px ;    
  }
  > h3 {
    font-size: 2.4rem; 
    letter-spacing: 2px;
    font-weight: 800;
    color: rgba(246, 246, 21, 0.844);
    margin: 30px 0 0 0;
    text-shadow: 2px 0px 2px;
    > span {
      font-size: 2.4rem; 
    letter-spacing: 2px;
    font-weight: 800;
    color: rgba(225, 29, 29, 0.844);
    margin: 30px 0 0 0;
    text-shadow: 2px 0px 2px;
    }
 
  }
  > h4 {
    font-size: 2rem;
    color: $fontblack;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    
  }
  > p {
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 200;
    color: $fontblack;
  }
}
.second {
  > img {
    width: 40vw;
    max-height: 50vh;
    box-shadow: 0 0 10px black;
  }
}

@keyframes imgAnimate {
  to {
    transform: scale(1.2);
  }
}

@media  screen and (max-width:600px) {
    .second {
       > img {
        width: 20rem;
       }
    }
}