.header {
  display: flex;
  width: 100%;
  height: 8vh;
  box-shadow: 0 0 3px rgba(46, 42, 42, 0.715);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.6vmax;
}

.left {
  width: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerElement {
  font-size: 1.1vmax;
  text-decoration: none;
  color: rgba(28, 27, 27, 0.725);
  font-weight: 600;
  font-family: sans-serif;
  margin: 0.8vmax 1.3vmax;
  padding: 0.5vmax;
}
.headerElement:hover {
  text-decoration: none;
  color: rgba(109, 107, 107, 0.868);
}
.right {
  width: 25%;
  height: 3.3vmax;
  margin-top: 0.6rem;
  padding: 0.4vmax 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border: none;

  > input {
    width: 17vmax;
    margin-left: 0.5vmax;
    padding: 0.1vmax 0;
    font-size: 1rem;
    border-radius: 50px;
    &:focus {
      outline-style: none;
      box-shadow: none;
      border: none;
    }
  }
}
.cartArea {
  width: 10%;
  left: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  box-sizing: border-box;

  > div svg {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: 3px;
  }
}
.cartArea :hover {
  cursor: pointer;
  fill: rgba(109, 107, 107, 0.868);
}
.right > svg {
  font-size: 1.6rem;
  color: rgba(28, 27, 27, 0.725);
}
.right > svg :hover {
  cursor: pointer;
}

.svg-cartarea {
  color: rgba(28, 27, 27, 0.9);
}

@media screen and (max-width: 600px) {
  .header {
    margin-bottom: 0;
    width: 100%;

    .left {
      width: 50%;
      max-height: fit-content;
      > a {
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
        margin-right: 9px;
        color: rgba(28, 27, 27, 0.9);
      }
    }

    .right {
      width: 25%;
      margin-top: 0.1rem;
      padding: 0;
      max-height: fit-content;
      > input {
        width: 70px;
        height: 20px;
        font-size: 0.8rem;
        margin-left: 5px;
      }

      > svg {
        font-size: 1.2rem;
      }
    }
    .cartArea {
      width: 20%;
      left: 0;
      > div > a > svg {
        font-size: 1.2rem;
        margin-left: 8px;
        margin-top: 3px;
      }
    }
  }
}
