@import "../../../styles/colors.scss";
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  > h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: $reddish;
  }
  > div {
    width: 60px;
    border-top: 5px solid $fontblack;
    border-radius: 50px;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 600px) {
  .heading {
    > h2 {
      font-size: 1.8rem;
    }
  }
}
