@import "../../../styles/colors.scss";

.shippingSection {
  width: 100%;
  padding: 30px 0;
  > div {
    width: 100%;
    height: 30%;
  }
  > main {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 2rem;

    > h1 {
      text-align: center;
      margin: 2rem;
      font-size: 2rem;
      font-weight: 300;
    }

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: hidden;
      width: 100%;
      padding: 30px 0;
      box-shadow: 5px 5px 10px rgba(172, 169, 169, 0.879);
      border-radius: 10px;
      > div {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        > label {
          width: 50%;
          white-space: nowrap;
          color: $reddish;
        }
        > input,
        > select {
          width: 50%;
          padding: 0.5rem 1rem;
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.172);
          border-radius: 5px;
          margin: 15px 0;
          font-size: 1rem;
          color: $reddish;
          &::-webkit-input-placeholder {
            color: $reddish;
          }
        }
      }
      > button {
        background-color: $reddish;
        color: white;
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;

        text-align: center;
        cursor: pointer;
        font-size: 1.1rem;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .shippingSection {
    
    > main {
      width: 100%;
      padding: 0;
      > form {
        padding: 30px;
        box-shadow: none;
        > div {
          width: 100%;
          > input,
          > select {
            width: 10rem;
            font-size: 1rem;
          }
        }

        > button {
          width: 150px;
          height: 40px;
        }
      }
    }
  }
}
@media (min-width:700px) and (max-width:1300px){
  .shippingSection {
    height: 100vh;
    // border: 1px solid blue;
    


    > div {
      height: 10%;
      padding: 0;
      margin-top: 20px;
    }
    > main {
      width: 100%;
      height: 60%;
      > form {
        width: 100%;
        height: 100%;
        box-shadow: none;
        gap:30px;
         > div {
          
           > label {
            font-size: 1.4rem;
           }
           > select {
            font-size: 1.4rem;
           }
           > input {
            font-size: 1.4rem;
           }
         }
         > button {
          width: 200px;
          height: 60px;
          font-size: 1.4rem;
         }
      }
    }
  }
}
